* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Lato', sans-serif;
  }

  /* HEADER */

  header {
    /* background-color: rgb(89, 188, 221); */
    background-image: linear-gradient(30deg, lightblue, rgba(99, 199, 99, 0.84), blue);
    padding: 4em 8em 0em 8em;
    color: white;
  }

  .header_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    gap: 1em;
  }

  .header_container i {
    font-size: 4em;
  }

  .photon_descript {
    font-size: 2em;
    letter-spacing: 1px;
    line-height: 1.3;
  }

  .photon_lorem {
    line-height: 1.4;
    text-align: center;
  }

  .header_container h2 {
    font-size: 18px;
    margin-top: 2em;
    border: 1px solid white;
    padding: 0.6em 1.5em;
    border-radius: 5px;
  }

  .discover_string {
    height: 8rem;
    width: 1px;
    background-color: white;
  }

  .discover_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* END HEADER */

  main {
    height: 86vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6em;
    background-image: linear-gradient(20deg, black, lightgray);
    color: white;
    
  }

  .section_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7em;
    margin-top: 5em;
    margin-bottom: 5em;
  }

  .section_sub {
    height: 1px;
    width: 4em;
    background-color: rgba(128, 128, 128, 0.466);
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .section_1_frame {
    height: 180px;
    width: 500px;
    background-image: linear-gradient(20deg, black, lightgray);
    margin-left: 20px;
  }


  .icons_main_section {
    margin-top: 1em;
    font-size: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.3em;

    }

  .icons_duo {
    display: flex;
    flex-direction: row;
    gap: 0.1em;
  }

  /* ICONS */

  #code_icon {
    color: yellowgreen;
  }

  #bolt_icon {
    color: rgba(0, 128, 0, 0.683)
  }

  #camera_icon {
    color: rgb(64, 187, 158);
  }

  #gear_icon {
    color: rgb(138, 208, 232);
  }

  #screen_icon {
    color: royalblue;
  }

  #case_icon {
    color: rgba(65, 105, 225, 0.77);
  }

  /* END ICONS */

  .border_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2em;
    border: solid 1px white;
    height: 2em;
    width: 2em;
    transform: rotate(45deg);
  }

  .icons_main_section i {
    margin: 1em;
    padding: 1em;
    transform: rotate(-45deg);
  }

  .text_main_section {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }

  .articles_section {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title_container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
    margin-bottom: 2em;
  }

  .articles_title_sub {
    height: 1px;
    width: 5em;
    background-color: rgba(128, 128, 128, 0.64);
    margin: 1em 0em 1em 0em;
  }

  .articles_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin: 2em 8em;
  }

  .article_contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .article_contain h2 {
    margin-top: 1em;
  }

  .article_contain p {
    text-align: center;

  }

  .article_contain button {
    background-color: white;
    padding: 1em 3em;
    border: solid 1px;
    border-radius: 5px;
  }

  .article_frame {
    height: 200px;
    width: 300px;
    background-image: linear-gradient(20deg, black, lightgray);
  }

  /* SIGNUP SECTION  */

  .signup_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8em 0em;
    color: white;
    background-image: linear-gradient(20deg, black, lightgray);
  }

  .signup_button_container {
    display: flex;
    gap: 2em;
    margin-top: 2em;
  }

  .signup_button_container button {
    height: 3em;
    width: 15em;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    transition: 0.5s;
  }

  .signup_button_container button:hover {
    background-color: white;
    color: black;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.8em;
    padding: 6em 0em;
    background-image: linear-gradient(30deg, lightblue, rgba(99, 199, 99, 0.84), blue);
  }

  .icons_footer_container {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  footer i {
    font-size: 1.6em;
    color: black;
  }

  /* END SIGNUP */

  